/vendor
/node_modules
/public/storage
/public/upload
/Rubbish
/public/Rubbish
Homestead.yaml
Homestead.json
.env
qlkhoahoc.sublime-project
qlkhoahoc.sublime-workspace
database/seeds/SanPhamSeeder.php
