<div class="row">
    <div class="col-sm-2">
        <img ng-src="<% (staff.sanh) ? staff.sanh : 'upload/avatar/user.jpg' %>" alt="Ảnh đại diện" class="image-responsive img-thumbnail" />
        <p class="no-padding">
            <% (staff.stenhh != 'Khác') ? staff.stenhh + '.' : null %>
            <% (staff.stenhv != 'Khác') ? staff.stenhv + '.' : null %>
            <% staff.shodem %>
        </p>
    </div><!--  /.col-sm-2 -->

    <div class="col-sm-5">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Họ tên</th>
                <td><strong class="text-green"><% staff.shodem %></strong></td>
            </tr>

            <tr>
                <th>Ngày sinh</th>
                <td><strong class="text-green"><% staff.sngaysinh %></strong></td>
            </tr>

            <tr>
                <th>Giới tính</th>
                <td><strong class="text-green"><% staff.sgioitinh %></strong></td>
            </tr>

            <tr>
                <th>Số điện thoại liên hệ</th>
                <td><strong class="text-green"><% staff.sdienthoai %></strong></td>
            </tr>

            <tr>
                <th>E-mail</th>
                <td><strong class="text-green"><% staff.semail %></strong></td>
            </tr>

            <tr>
                <th>Địa chỉ</th>
                <td><strong class="text-green"><% staff.sdiachi %></strong></td>
            </tr>

            <tr>
                <th>Quê quán</th>
                <td><strong class="text-green"><% staff.squequan %></strong></td>
            </tr>

            <tr>
                <th>Hộ khẩu</th>
                <td><strong class="text-green"><% staff.shokhautt %></strong></td>
            </tr>

            <tr>
                <th>Dân tộc</th>
                <td><strong class="text-green"><% staff.stendantoc %></strong></td>
            </tr>

            <tr>
                <th>Tôn giáo</th>
                <td><strong class="text-green"><% staff.stentongiao %></strong></td>
            </tr>
        </table>
    </div><!--  /.col-sm-4 -->

    <div class="col-sm-5">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Học hàm</th>
                <td>
                    <strong class="text-green">
                        <% (staff.stenhh != 'Khác') ? staff.stenhh : null %>
                    </strong>
                </td>
            </tr>

            <tr>
                <th>Học vị</th>
                <td>
                    <strong class="text-green">
                        <% (staff.stenhv != 'Khác') ? staff.stenhv : null %>
                    </strong>
                </td>
            </tr>

            <tr>
                <th>Chuyên ngành</th>
                <td><strong class="text-green"><% staff.stencn %></strong></td>
            </tr>

            <tr>
                <th>Nhóm cán bộ</th>
                <td><strong class="text-green"><% staff.stennhomcb %></strong></td>
            </tr>

            <tr>
                <th>Đơn vị công tác</th>
                <td><strong class="text-green"><% staff.stendv %></strong></td>
            </tr>

            <tr>
                <th>Ghi chú</th>
                <td><strong class="text-green"><% staff.sghichu %></strong></td>
            </tr>

            <tr>
                <th>Tài khoản hệ thống</th>
                <td><strong class="text-red"><% staff.stendn %></strong></td>
            </tr>
        </table>
    </div><!--  /.col-sm-4 -->
</div><!--  /.row -->