<table class="table table-hover table-bordered" ng-if="foster">
	<thead>
		<tr class="active">
			<th>#</th>
			<th>Khoảng thời gian</th>
			<th>Khóa học</th>
			<th>Hình thức</th>
			<th>Chứng chỉ</th>
			<th>Ghi chú</th>
			<th>Tác vụ</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="f in foster">			
			<td><% $index+1 %></td>
			<td><% f.skhoangthoigian %></td>
			<td><% f.skhoahoc %></td>
			<td><% f.shinhthuc %></td>
			<td><% f.schungchi %></td>
			<td><% f.sghichu %></td>
			<td>
				<div class="btn-group" role="group">
				  	<button type="button" class="btn btn-default btn-sm" ng-click="edit_foster(f.pk_imaqtbd)"><span class="glyphicon glyphicon-pencil"></span></button>
				  	<button type="button" class="btn btn-default btn-sm" ng-click="remove_foster(f.pk_imaqtbd, f.pk_smacanbo)"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div ng-if="!foster">Không có dữ liệu</div>