<table class="table table-hover table-bordered" ng-if="work">
	<thead>
		<tr class="active">
			<th>#</th>
			<th>Khoảng thời gian</th>
			<th>Tên công trình</th>
			<th>Vị trí làm việc</th>
			<th>Sản phẩm</th>
			<th>Ghi chú</th>
			<th>Tác vụ</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="w in work">			
			<td><% $index+1 %></td>
			<td><% w.skhoangthoigian %></td>
			<td><% w.stencongtrinh %></td>
			<td><% w.svitricongviec %></td>
			<td><% w.ssanpham %></td>
			<td><% w.sghichu %></td>
			<td>
				<div class="btn-group" role="group">
				  	<button type="button" class="btn btn-default btn-sm" ng-click="edit_work(w.pk_imactdt)"><span class="glyphicon glyphicon-pencil"></span></button>
				  	<button type="button" class="btn btn-default btn-sm" ng-click="remove_work(w.pk_imactdt, w.pk_smacanbo)"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div ng-if="!foster">Không có dữ liệu</div>